<style></style>

{% style %}
{% endstyle %}

<section>
  <h1>{{ section.settings.footer_linklist_title }}</h1>
</section>

{% schema %}
{
  "name": "Custom Slider",
  "settings": [
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  "presets": [
    {
      "name": "custom-slider"
    }
  ]
}
{% endschema %}
